@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

@mixin flex($direction: column, $justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}



 

